<?xml version="1.0"?>
<log4net>
  <!--indica el medio en el que se emplea el log-->
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <!--nombre del fichero-->
    <file value="CarteleriaDigital.log"/>
    <!--true: se anexan lineas a fin del archivo-->
    <appendToFile value="true"/>

    <maximumFileSize value="10MB"/>
    <maxSizeRollBackups value="5"/>
    <!--especifica el formato-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%d] [%level] [%thread] [%logger] - %message%newline"/>
    </layout>
  </appender>
  <root>
    <!--indica el nivel al cual se va a registar loggeos-->
    <level value="ALL"/>
    <!--define el appender que se va a emplear, puede haber varios para un mismo-->
    <appender-ref ref="RollingFile"/>
  </root>
</log4net>